﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="init-window">
    <div class="container">
        <div class="row">
            <div class="col-2">Session Name</div>
            <div class="col-4">
                <input type="text" id="sessionNameInput" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <button type="button" id="startButton">Start</button>
                <button type="button" id="joinButton">Join</button>
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="chat-window">
    <div class="container">

        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4" id="user-display"></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
